<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>

<div th:if="${username}">
  <p>Hello, <span th:text="${username}"></span>!</p>
  <p>Your Access Token: <span th:text="${accessToken}">[Access Token]</span></p>

  <div th:if="${#authentication}">
    <p>Your Roles: <span th:text="${#authentication.authorities}"></span></p>
  </div>

  <br>
  <br>
  <br>

  <!-- Log out 버튼 -->
  <form action="/logout" method="post">
    <button type="submit">Log out</button>
  </form>

  <!-- 관리자 페이지 링크 (LV1 권한 필요) -->
  <div sec:authorize="hasAuthority('ROLE_LV1')">
    <a href="/admin">Go to Admin Page</a>
  </div>

  <!-- 사용자 페이지 링크 (모든 인증 사용자 접근 가능) -->
  <div sec:authorize="isAuthenticated()">
    <a href="/user">Go to User Page</a>
  </div>
</div>

<div th:if="${username == null}">
  <p>You are not logged in. Please <a href="http://localhost:8000/oauth2/authorization/keycloak">log in</a>.</p>
</div>

<!--<a href="/register">Sign up</a>-->
</body>
</html>
